{% extends 'base.html.twig' %}

{% block body %}
<div class="container mt-5">
    <h1 class="mb-4">List of PDF Files</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">File Name</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for file in pdfFiles %}
                <tr>
                    <td>{{ file }}</td>
                    <td>
                        <a href="{{ path('pdf_view', {'filename': file}) }}" class="btn btn-success">parse</a>
                        <a href="{{ path('pdf_cuter', {'filename': file}) }}" class="btn btn-primary" target="_blank">cutter</a>
                        <a href="{{ path('pdf_download', {'filename': file}) }}" class="btn btn-secondary">Download</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
